#root {
    position: relative;
    min-height: 100vh;
    padding-bottom: 300px;
}

@font-face {
    font-family: "Ubuntu500";
    src: url("./assets/fonts/Ubuntu-Medium.ttf");
}

@font-face {
    font-family: "Ubuntu400";
    src: url("./assets/fonts/Ubuntu-Regular.ttf");
}


$blue: rgba(0, 9, 234, 1);
$blue50: rgba(0, 9, 234, .5);
$white: #f5f5f5;
$black: #232323;
$successful: #38b921;
$invalid: #ea4242;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Ubuntu400" !important;
    border: none;
    text-decoration: none;
    color: inherit;
    outline: none;
}


.header, .banner, .catalog, .footer, .BurgerMenu {
    width: 100%;
    display: flex;
    justify-content: center;

    .container {
        width: 1300px;
    }

    @media (max-width: 1350px) {
        .container {
            width: 95%;
        }
    }
}



@mixin btn($background: transparent, $padding: 8px 25px, $fsz: 16px, $color: $blue) {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color;
    padding: $padding;
    font-weight: 500;
    background: $background;
    border-radius: 4px;
    font-family: "Ubuntu";
    cursor: pointer;
    font-size: $fsz;
    white-space: nowrap;
}

a {
    font-family: "Ubuntu400";
    font-weight: 400;
}

p {
    font-weight: 500;
    line-height: 1.3;
    font-size: 18px;
}

img {
    user-select: none;
    pointer-events: none;
}

button {
    user-select: none;
}

.prefix, .currency {
    user-select: none;
}