.header {
    padding: 24px 0;
    border-bottom: 1px solid darkblue;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    display: flex;
    gap: 40px;
}

.btn{
    background-color: darkblue;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    font-family: inherit;
    padding: 10px 30px;
}
.nav__item.active {
    color: blue;
}